.specialties{
    width: 100%;
}

.mapping {
    margin: 20px auto 40px;
    position: relative;
    width: 85%;
    display: block;
}

.base-image {
  width: 100%;
  height: auto;
  display: block;
}

.specialty-piece img {
  position: absolute;
  height: 100%;
  transition: transform 0.3s ease;
}

.specialty-piece img:hover {
  transform: scale(1.05);
}

.fish-bowl { top: 0px; left: 5%; }
.bloody-mary { top: 0%; left: 21.9%; }
.espresso-martini { top: 0%; left: 39%; }
.pina-colada { top: 0%; left: 51%; }
.str-daquiri { top: 0%; left: 66%; }
.nutella-martini { top: 0%; left: 79%; }